.hotlistitem {
  margin-bottom: 5px;
  cursor:pointer;
}

.panelBody {
  background: #E5E5E5;
}

.panel-movie {
  background: #1BBC9B;
  border-color: #1BBC9B;
  color: white;
}

.hotlistbody {
  max-height: calc(100vh - 230px);
  overflow-y: auto;
}

