.hotlistitem {
  margin-bottom: 5px;
  cursor:pointer;
}

.panelBody {
  background: #E5E5E5;
}

.panel-movie {
  background: #1BBC9B;
  border-color: #1BBC9B;
  color: white;
}

.hotlistbody {
  max-height: calc(100vh - 230px);
  overflow-y: auto;
}



.closed{
  content: ' ';
  height: 0;
  position: relative;
  width: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #464545;

  margin-top: -21px;
  left: 43%;
  z-index: 1;
}

.open{
  content: ' ';
  height: 0;
  position: relative;
  width: 0;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #464545;
  border-left: 25px solid transparent;

  bottom: 46px;
  left: 43%;
  z-index: 1;
}
