.app-title {
  font-weight: bolder !important;
  text-align: center;
}

.backgroundCircle {
  border-radius: 50%;
	width: 700px;
	height: 700px;
  background: black;
  position: absolute;

}

.keywordCircle {
  border-radius: 50%;
	width: 100px;
	height: 100px;
  line-height: 100px;
  background: black;
  text-align: center;

}

.movieTitle {
  font-size: 250%;
  margin-top: -350px;
  width: 400px;
  text-align: center;
  margin-left: 150px;


}

.movieDescription {
  margin-top: 360px;
  width: 400px;
  text-align: center;
  margin-left: 150px;
}

.prevNextButtons  {
  margin-top: 50px;
}
